/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/rubik-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-style: 16px;
  line-height: 1.2;
  color: #0B132A;
  background-color: #F6F6F6;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header style start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  padding-top: 45px;
}

.header__logo-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #0B132A;
}

.text-bold {
  font-weight: bold;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #4F5665;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.7;
}

.header__sign-in {
  border: none;
  background-color: #F6F6F6;
  font-weight: bold;
  margin-right: 30px;
}

.header__sign-in:hover,
.header__sign-in:focus,
.header__sign-in:active {
  opacity: 0.7;
}

.header__sign-up {
  background-color: #F6F6F6;
  border: 1px solid #F53855;
  border-radius: 50px;
  color: #F53855;
  font-weight: bold;
  padding: 13px 45px;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.header__sign-up:hover,
.header__sign-up:focus,
.header__sign-up:active {
  background-color: #F53855;
  color: #F6F6F6;
}

/* Header style end */

/* Intro style start */

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 205px;
  margin-bottom: 127.5px;
}

.vpn-info {
  max-width: 555px;
}

.vpn-info__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.vpn-info__subtitle {
  line-height: 1.87;
  margin-bottom: 50px;
}

.vpn-info__button {
  border: none;
  background-color: #F53838;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 17.5px 78.5px;
}

.vpn-info__button:active {
  box-shadow: 0 20px 50px rgba(245, 56, 56, 0.35);
}

/* Intro style end */

/* Achievements style start */

.achievements__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1px) 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(13, 16, 37, 0.05);
  margin-bottom: 96px;
}

.achievements__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.achievements__vertical-line {
  height: 125.57px;
  border-left: 2px solid #EEEFF2;
}

.achievement__img {
  max-width: 55px;
  max-height: 55px;
  margin-right: 36.5px;
}

.achievement__description {
  font-size: 20px;
  line-height: 30px;
  height: 65px;
  color: #4F5665;
}

.line-divide {
  font-weight: bold;
  font-size: 25px;
  color: #0B132A;
}

/* Achievements style end */